<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
  <add key="SourceCode.K2.PlanServer" value="10.172.8.124" />
  <add key="SourceCode.K2.ConnectionString" value="EMRSN,workflow.admin,Wf_7877355" />
  <add key="Emerson.WF.SQLUtilities.SQLHelper.ConnectionString"
   value="server=10.172.8.123; database=dbMaster_Config; uid=wf.sqladmin; pwd=Sql_23646; connect timeout=45;" />
  <add key="Emerson.WF.Attachment.Settings.RootFolder" value="D:\WFAttachments\ENPWorkspace" />
  <add key="Emerson.WF.ADUtilities.ADConnector.Domain" value="emrsn.org" />
  <add key="Emerson.WF.ADUtilities.ADConnector.Username" value="wf.adquery" />
  <add key="Emerson.WF.ADUtilities.ADConnector.Password" value="wcqr41ptl" />
  <add key="SupportEmail" value="russell.abrogena@emerson.com" />
  <add key="SupportLinkURL" value="http://10.172.8.122:9700/" />
  <add key="WebAppRootPath" value="/ENPWorkspace/UI" />
  <add key="OutOfOfficeRootPath" value="http://10.172.8.124:1234/K2V3/OutOfOffice" />
  <add key="UserGroup.DocumentSubmissionReport" value="DOCSUB_REPORT" />
  <add key="UserGroup.TravelReport" value="TRAVEL_REPORT" />
  <add key="UserGroup.CAPEXReport" value="CAPEX_REPORT" />
  <add key="UserGroup.CRPReport" value="CRP_REPORT" />
  <add key="UserGroup.SCRReport" value="SCR_REPORT" />
  <add key="UserGroup.PRReport" value="PR_REPORT" />
  <add key="UserGroup.CSRReport" value="CSR_REPORT" />
  <add key="UserGroup.SMRReport" value="SMR_REPORT" />  
  <add key="UserGroup.OARReport" value="OAR_REPORT" />
    <add key="UserGroup.TSRReport" value="TSR_REPORT" />
    <add key="UserGroup.HRTReport" value="HRT_REPORT" />
    <add key="UserGroup.EEPReport" value="EEP_REPORT" />
  <add key="ReportViewerURL" value="http://10.172.8.123/ReportServer/Pages/ReportViewer.aspx?%2fEmerson.WF.Reports%2f{ReportName}&amp;rc:Parameters=false&amp;{ParamValues}" />
  <add key="ErrorPageURL" value="http://10.172.8.124/ENPWorkspace/UI/Error.aspx" />
  <add key="Emerson.WF.ErrorLog.FilePath" value="D:\WFErrorLog\ENPWorkspace" />
  <!--<add key="Emerson.WF.ExceptionHandler.MailTo" value="russell.abrogena@emerson.com" />-->
  <add key="Emerson.WF.ExceptionHandler.MailTo" value="russell.abrogena@emerson.com" /> 
  <add key="Emerson.WF.ExceptionHandler.SMTPServer" value="etsmsg-hkexm04.etsmsg.org" />
  <add key="ExcludedMUs" />
  <add key="XMLMasterDataLocation" value="~/App_Data/masterdata.xml" />
	<add key="ProcExemption" value="15,18" />
 </appSettings>
	<connectionStrings>
		<!-- for web application sql connection -->
		<!-- attachmemt db-->
		<add name="Emerson.WF.Attachment.Properties.Settings.AttachmentDB" connectionString="server=10.172.8.123;database=dbMaster_Config;User Id=wf.sqladmin;password=Sql_23646;" providerName="System.Data.SqlClient"/>
		<!-- audit trail db -->
		<add name="Emerson.WF.AuditTrail.Properties.Settings.AuditTrailDB" connectionString="server=10.172.8.123;database=dbMaster_Config;User Id=wf.sqladmin;password=Sql_23646;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

	<customErrors mode="Off" />

    <identity impersonate="true"/>

	<sessionState mode="InProc" timeout="20"/>

	</system.web>

<location path="UI/download.aspx">
    <system.web>
      <identity impersonate="true" userName="ENPHKHKGWKF01\WFRobot" password="wfrbt1pwd"/>
    </system.web>
  </location>
</configuration>
